<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.ooad.mapper.geoInfoMappers.CountryMapper">
    <select id="getAllCountries" resultType="com.sustech.ooad.entity.geoInfo.Country">
        SELECT * FROM countries
    </select>
    <select id="getCurrencyById" resultType="java.lang.String">
        SELECT currency FROM countries WHERE id = #{id}
    </select>
    <select id="getCurrencySymbolById" resultType="java.lang.String">
        SELECT currency_symbol FROM countries WHERE id = #{id}
    </select>
</mapper>