<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.ooad.mapper.dataMappers.HotelMapper">

    <select id="getHotelByCoordinate" resultType="com.sustech.ooad.entity.data.Hotel">
        SELECT * FROM hotels WHERE id IN (
            SELECT id FROM (
                SELECT
                    id,
                    POWER((longitude-#{longitude}),2)+POWER((latitude-#{latitude}),2) AS dis
                FROM hotels
            ) Q1 ORDER BY dis LIMIT #{RETURN_CNT}
        )
    </select>
</mapper>