<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.ooad.mapper.dataMappers.OrderMapper">
    <insert id="placeOrder" parameterType="com.sustech.ooad.entity.data.Order">
        INSERT INTO orders(user_id, price, hotel_id, room_id, start_date, end_date, people, children, points)
        VALUES(#{userId}, #{price}, #{hotelId}, #{roomId}, #{startDate}, #{endDate}, #{people}, #{children}, #{points})
    </insert>
    <insert id="moveOrderToDeletedById">
        INSERT INTO orders (id, user_id, price, hotel_id, room_id, start_date, end_date, people, children, points, deleted)
        SELECT id, user_id, price, hotel_id, room_id, start_date, end_date, people, children, points, 1
        FROM orders WHERE id = #{id} AND deleted = 0
    </insert>
    <delete id="deleteAvailOrder">
        DELETE FROM orders_avail WHERE id = #{id} AND deleted = 0
    </delete>

    <select id="getOrderConflictedCntByDateAndRoomId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM orders
        WHERE deleted = 0 AND room_id = #{roomId} AND (
            (#{startDate} BETWEEN start_date AND end_date)
            OR (#{endDate} BETWEEN start_date AND end_date)
            OR (start_date BETWEEN #{startDate} AND #{endDate})
            OR (end_date BETWEEN #{startDate} AND #{endDate})
        )
    </select>
    <select id="getOrderPriceSum" resultType="java.lang.Double">
        SELECT SUM(price) FROM orders WHERE deleted = 0
    </select>
    <select id="getOrderByUserId" resultType="com.sustech.ooad.entity.data.Order">
        SELECT * FROM orders WHERE user_id = #{userId} AND deleted = 0
    </select>
    <select id="getOrderById" resultType="com.sustech.ooad.entity.data.Order">
        SELECT * FROM orders WHERE id = #{id} AND deleted = 0
    </select>
</mapper>